//IMPORTS FROM BS4 VARS IF NEEDED
//HEADER
//FOOTER
//MAIN CONTENT AREA
//SIDEBARS
//WIDGETS
//MEDIA QUERIES

/*
DETAILED BRANDING STEPS:
- done.background color is good
- done.title area | remove tagline
- done.add custom favicon via add_action()
- done.add google fonts via add_action()
- done.remove search bar area | unregister widget in code 
- alreadyset.adjust footer colors in customizer
- done.remove the credit in footer via add_action | //turn off store credit text based on codition | https://wordpress.org/support/topic/storefront-code-used-to-remove-credit/
- done.reshaped the footer shell via SASS
- done.identify all storefront hooks and visually see them on page
- done.register a new navigation menu via code and then in the UI
- now.modify the header.php to represent the placement of our new navigation. 
- done.add scroll-top-btn to header.php 
- done.properly configure jquery to work in WordPress and run scroll top button | https://stackoverflow.com/a/7434984/957186
- done.confirm that our sass colors and basic elements are being applied. 
- done.create an additional "sidebar" for the home page (front_page()) that talks about the seller.
- done.completely remove the default navigation so that we can build up our own custom nav | https://wordpress.org/support/topic/remove-nav-links-from-header/
- pending.  now re-arrange the functions hooked into storefront header and test | https://stackoverflow.com/a/37758434/957186
- next.rebuild the navigation menu, along with the hamburger icon, shopping basket and total
- next.Add custom products
- next.the WP Sample page (or shop page???) will have its own custom page template to allow a listing of WP_Query of products & AND! a custom sidebar widget for the bottom of the loop for the "about" section.

*/

html {
    body {
        font-family: $font-fam-fira;

        //GLOABLS   
        #{headings(1,6)} {
            margin: 0;
        }

        #{headings(1)} {
            font-size: 2rem;
        }

          //OVERRIDE COL-FULL
          .col-full {

            @media (max-width: 330px) {
            padding: 0.1rem;
            margin: 0.1rem;
            }
        }

        //DETECT STOREFRONT HOOK AREAS
        .mhook {
            display: none;
            opacity: 0.8;
            -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
            box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
        }

        //ANIMATE SPECIFIC ELEMENTS TO FADE IN/OUT
        .manimate {
            opacity: 0;
            transition: opacity 0s;

            &.show {
                opacity: 1;
                transition: opacity .2s;
                padding-bottom: 1rem;
            }
        }

        //PAGE SCROLL BUTTON 
        .scroll-top-btn {
            display: none;
            position: fixed;
            bottom: 1.25em;
            right: 1.875em;
            z-index: 99;
            font-size: 1em;
            border: none;
            outline: 0;
        }

        .site-header {
            border:none;
        }

        //SITE TITLE
        .site-branding {
            width:initial;
            margin-bottom:0;
         

            .site-title {
                font-family: $font-fam-mplus;
                font-size: $font-xlarge;

                @media (max-width: 330px) {
                    font-size: 2rem;
                    /*1rem = 16px*/
                }


                a {
                    &:hover {
                        text-decoration-color: $m-color-white;
                        border-bottom: 0.125em solid $m-color-gold;
                    }

                    &:focus {
                        outline-color: $m-color-white;
                    }
                }
            }
        }

        //TOP MENU
        #navbarToggleExternalContent {

            //OVERRIDE COL-FULL
            .col-full {
                max-width: 100%;
                padding: 0;
                margin: 0;
            }
        }

        //HAMBURGER ICON
        .mhamberger {
            position: fixed !important;
            top: 0;
            right: 0;

            //ANIMATION
            .navbar-toggler {

                opacity: 0.9;

                &:focus {
                    outline: #fff 1px dotted;
                }

                .navbar-toggler-icon {
                    background-image: none !important;

                    &:after,
                    &:before {
                        background-color: #fff;
                        border-radius: 1px;
                        content: '';
                        display: block;
                        height: 3px;
                        margin: 7px 0;
                        transition: all .2s ease-in-out;
                    }
                }

                &[aria-expanded="true"] {
                    .navbar-toggler-icon {
                        &:after {
                            transform: translateY(-4px) rotate(135deg);
                        }

                        &:before {
                            transform: translateY(6px) rotate(-135deg);
                        }
                    }
                }
            }
        }

        //FOOTER
        .site-footer {
            padding: 0;
            margin: 2rem 0;

            .footer-widgets {
                //SET NORMAL SIZE FOR IMAGES IN FOOTER
                //max-width: 100%;
                padding: 0;

                .widget {
                    margin: 1em 0;
                    text-align: center;

                    .widget-title {
                        font-family: $font-fam-fira;
                        font-size: $font-small;
                        font-weight: 500;
                        color: $theme-dark;
                        border-bottom: none;
                    }

                    .textwidget.custom-html-widget {
                        text-align: center;

                        img {
                            margin: 0 auto;
                        }
                    }
                }
            }

            .site-info {
                display: none;
            }
        }


        //MAIN SITE CONTENT
        .content-area {
            float: none !important;

            .site-content {
                .entry-content {
                    p {
                        font-family: $font-fam-fira;
                        font-weight: 200;
                    }
                }
            }
        }

        //WIDGET - ABOUT THE SELLER
        .mabout {
            min-width: 300px;

            //FANCY QUOTE
            .quote {
                font-size: 7em;
                font-family: $font-fam-sec;
                line-height: 1;
                -webkit-transform: rotate(-180deg);
                -moz-transform: rotate(-180deg);
                -o-transform: rotate(-180deg);
                transform: rotate(-180deg);
                ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
                filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
            }

            p {
                font-weight: lighter;
            }
        }
    }
}